body {
	background-color: red;
}

/* Card Style  */
.card{
	background-color: white;
	width: 200px;
	margin: auto;
	border-bottom-left-radius: 25px;
}

/* Card Top  */
.cardTop{
	background-image: url(../images/headshot.jpg);
	background-position: center;
	height:300px;
	background-size: cover;
}

/* Card Bottom */
.cardBot{
}